body {
    height: 100%;
    background-image: url(../../../assets/images/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-left: 330px;
    margin-top: 212px;
    color: whitesmoke;
    font-size: 28px;
    font-family: barlow;
    letter-spacing: 0.1em;
    position: absolute;
}

.container{
    position: absolute;
    font-family: barlow;
    color: whitesmoke;
    width: 500px;
    height: 350x;
    margin-top: 350px;
    margin-left: 490px;
}
.num{
    margin-top: 190px;
    margin-left: 250px;
    
}
.techImg{
    position: absolute;
    margin-left: 1200px;
    margin-top: 260px;
}

.name{
    font-size: 56px;
    font-family: bellefair;
    margin-top: 50px;
}

.info{
    margin-top: 60px;
    color: #D0D6F9;
    font-family: barllow;
    font-size: 20px;
    line-height: 30px;
    
}


